<% form_for @collection, :html => { :multipart => true } do |f| %>    

<fieldset>    
	<legend><%= title %></legend>
	<p>
		<%= f.label :collection_title %>
		<%= f.text_field :collection_title %>
	</p>
	<p>
		<%= f.label :collection_original_title %>
		<%= f.text_field :collection_original_title %>
	</p>
	<p>
		<%= f.submit 'Submit' %>
	</p>
	<p>
	 		<%= link_to 'Cancel', :back || movies_path %>
	</p>
</fieldset>
<% end %>