<% form_for @movie, :html => { :multipart => true } do |f| %>    

<fieldset>    
	<legend><%= title %></legend>
	<p>
		<%= f.label :movie_title %>
		<%= f.text_field :movie_title %>
	</p>
	<p>
		<%= f.label :movie_original_title %>
		<%= f.text_field :movie_original_title %>
	</p>
	<p>
		<%= f.label :imdb_link %>
		<%= f.text_field :imdb_link %>
		</p>
	<p>
		<%= f.label :media_type %>
		<%= f.select(:media_type, [[@movie.media_type, @movie.media_type], ["movie", :movie], ["series", :series]])%>
		</p>
	<p>
		<%= f.label :disc_type %>
		<%= f.select(:disc_type, [[@movie.disc_type, @movie.disc_type], ["dvd", :dvd], ["bluray", :bluray]])%>
	</p>
	<p>
		<%= f.label :parental_rating %>
		<%= f.select(:parental_rating, [[@movie.parental_rating, @movie.parental_rating], ["usk 18", 18], ["usk 16", 16], ["usk 12", 12], ["usk 6", 6], ["usk ohne", 0]])%>
	</p>
	<p>
		<%= f.label :photo %>
		<%= f.file_field :photo %>
	</p>
	<p>
		<span class="multiple_textfields">
			<label>Select collection</label>
			<%= select :collection, :collection, @collections.collect{ |p| [p.collection_title, p.id] }, :selected => @movie.collection %>
		</span>
		<span class="multiple_textfields">
			<label>Or create a new collection?</label>
			<%= text_field :collection, :new_collection %>			
		</span>
	</p>	
	<p>
		<%= f.submit 'Submit' %>
	</p>
	<p>
	 		<%= link_to 'Cancel', movies_path %>
	</p>
</fieldset>
<% end %>