<% javascript 'datechooser' %>
<% stylesheet 'datechooser' %>

<%= error_messages_for :movie %>   

<% form_for @movie, :html => { :multipart => true } do |f| %>    

<fieldset>    
	<legend><%= title %></legend>
	<p>
		<%= f.label :movie_title %>
		<%= f.text_field :movie_title %>
	</p>
	<p>
		<%= f.label :movie_original_title %>
		<%= f.text_field :movie_original_title %>
	</p>
	<p>
		<%= f.label :bought_at, 'Purchase date' %>
		<%= datechooser_input_field @movie %>
	</p>
	<p>
		<%= f.label :imdb_link %>
		<%= f.text_field :imdb_link %>
		</p>
	<p>
		<%= f.label :media_type %>
		<%= f.select(:media_type, [[@movie.media_type, @movie.media_type], ["movie", :movie], ["series", :series]])%>
		</p>
	<p>
		<%= f.label :disc_type %>
		<%= f.select(:disc_type, [[@movie.disc_type, @movie.disc_type], ["dvd", :dvd], ["bluray", :bluray]])%>
	</p>
	<p>
		<%= f.label :parental_rating %>
		<%= f.select(:parental_rating, [[@movie.parental_rating, @movie.parental_rating], ["usk 18", 18], ["usk 16", 16], ["usk 12", 12], ["usk 6", 6], ["usk ohne", 0]])%>
	</p>
	<p>
		<%= f.label :foreign_language %>
		<%= f.select(:foreign_language, [[@movie.foreign_language, @movie.foreign_language], ["english", :us], ["spanish", :es], ["german", :de], ["french", :fr]])%>
	</p>
	<p>
		<%= f.label :photo %>
		<%= f.file_field :photo %>
	</p>
	<p>
	  <%= f.label :collection_name %>
	  <%= text_field_with_auto_complete :movie, :collection_name, { :size => 15 }, { :url => formatted_collections_path(:js), :method => :get, :param_name => 'search' } %>
	</p>
	<p>
		<%= f.submit 'Submit' %>
	</p>
	<p>
	 		<%= link_to 'Cancel', :back || movies_path %>
	</p>
</fieldset>
<% end %>