<% javascript 'datechooser' %>
<% stylesheet 'datechooser' %>

<% form_for @movie, :html => { :multipart => true } do |f| %>    

<script type="text/javascript">
<!-- //

	function datechooser_function(objDate)
	{
		var ndExample5 = document.getElementById('movie_created_at');
		ndExample5.DateChooser.setEarliestDate(objDate);
		ndExample5.DateChooser.updateFields();

		return true;
	}

// -->
</script>


<fieldset>    
	<legend><%= title %></legend>
	<p>
		<%= f.label :movie_title %>
		<%= f.text_field :movie_title %>
	</p>
	<p>
		<%= f.label :movie_original_title %>
		<%= f.text_field :movie_original_title %>
	</p>
	<p>
		<%= f.label :created_at %>
		<% unless @movie.created_at.nil? %>
			<% movie_created = @movie.created_at.strftime("%Y-%m-%d")%>
		<% end%>
		<input id="movie_created_at" name="movie[created_at]" class="datechooser dc-dateformat='Y-m-d' dc-iconlink='/images/datechooser.png' dc-weekstartday='1' dc-startdate='<%= Time.now.strftime("%m%d%Y") %>' dc-latestdate='12312009' dc-earliestdate='01012000' dc-onupdate='datechooser_function'" type="text" value="<%= movie_created %>">	
	</p>
	<p>
		<%= f.label :imdb_link %>
		<%= f.text_field :imdb_link %>
		</p>
	<p>
		<%= f.label :media_type %>
		<%= f.select(:media_type, [[@movie.media_type, @movie.media_type], ["movie", :movie], ["series", :series]])%>
		</p>
	<p>
		<%= f.label :disc_type %>
		<%= f.select(:disc_type, [[@movie.disc_type, @movie.disc_type], ["dvd", :dvd], ["bluray", :bluray]])%>
	</p>
	<p>
		<%= f.label :parental_rating %>
		<%= f.select(:parental_rating, [[@movie.parental_rating, @movie.parental_rating], ["usk 18", 18], ["usk 16", 16], ["usk 12", 12], ["usk 6", 6], ["usk ohne", 0]])%>
	</p>
	<p>
		<%= f.label :photo %>
		<%= f.file_field :photo %>
	</p>
	<p>
	  <%= f.label :collection_name %>
	  <%= text_field_with_auto_complete :movie, :collection_name, { :size => 15 }, { :url => formatted_collections_path(:js), :method => :get, :param_name => 'search' } %>
	</p>
	<p>
		<%= f.submit 'Submit' %>
	</p>
	<p>
	 		<%= link_to 'Cancel', :back || movies_path %>
	</p>
</fieldset>
<% end %>