<%- title @movie.movie_title -%>

<h2>
	<%= link_to @movie.movie_title, movie_url(@movie) %>
</h2>

<p>
	<%= image_tag @movie.photo.url %>
</p>

<p>
	Bought <strong><%= @movie.disc_type %></strong> at: <%= @movie.created_at.strftime("%d.%m.%Y") %>
	| <%= link_to "edit", edit_movie_path(@movie) %> | <%= link_to "delete", movie_path(@movie), { :method => 'delete', :confirm => 'really delete this movie?' } %>
</p>

<p>
	<%= link_to 'imdb link', @movie.imdb_link %> / <%= @movie.media_type %> / parental rating: <%= @movie.parental_rating %>
</p>

<p>
	<%= @movie.user.username %> (<%= @movie.user.realname %>)
</p>

<br />